*{
    margin: 10%;
    padding: 0;
    width: 80%;
    background: rgb(221, 185, 113);
    color: rgb(92, 92, 116);

}
button{
    width: 70px;
    margin: 10%;
    display: block;
    color:black;
    height: 50px;

}
#yes{
    background: green;
}
#no{
    background: red;
}
/* #no:hover{
    margin: 200px;
} */